.Main {
  text-align: center;
  color: white;
  .movie-element {
    display: inline-block;
    margin: 40px 20px;
    width: 640px;
    text-align: left;
    color: white;
    img {
      width: 200px;
    }
    .movie-description {
      display: inline-block;
      padding-left: 10px;
      .movie-title {
        width: 400px;
        font-size: 1.5rem;
        font-weight: bold;
        overflow: hidden;
      }
      .movie-date {
        display: inline-block;
        padding-bottom: 5px;
        font-size: 1.1rem;
        color: darkgray;
      }
      .movie-element-wrapper {
        display: flex;
        padding-bottom: 50px;
        .movie-rating {
          display: inline-block;
          img {
            width: 15px;
          }
        }
        .movie-adult {
          display: inline-block;
          img {
            width: 25px;
          }
        }
      }
      .movie-genre-list {
        padding: 0 1px;
        .movie-genre {
          display: inline-block;
          margin: 3px;
          padding: 2px 5px;
          border-radius: 4px;
          background: gray;
        }
      }
      .movie-overview {
        width: 400px;
        height: 50px;
        font-size: 0.9rem;
        overflow: hidden;
      }
    }
  }
}
