$ratingColor: gold;

.Main {
  text-align: center;
  color: white;
  .movie-element {
    display: inline-block;
    margin: 40px 20px;
    width: 640px;
    text-align: left;
    color: white;
    img {
      width: 200px;
    }
    .movie-description {
      display: inline-block;
      padding-left: 10px;
      .movie-title {
        width: 400px;
        padding-bottom: 50px;
        font-size: 1.5rem;
        font-weight: bold;
        overflow: hidden;
      }
      .movie-rating {
        display: inline-block;
        margin: 0 10px 10px 0;
        padding: 2px 6px;
        border-radius: 10px;
        color: black;
        background: $ratingColor;
      }
      .movie-date {
        display: inline-block;
      }
      .movie-genre-list {
        padding: 0 1px;
        .movie-genre-wrapper {
          display: inline-block;
          .movie-genre {
            margin: 3px;
            padding: 2px 5px;
            border-radius: 4px;
            background: gray;
          }
        }
      }
      .movie-overview {
        width: 400px;
        height: 50px;
        font-size: 0.9rem;
        overflow: hidden;
      }
    }
  }
}
