$backgroundColor: #1b1b1b;

html * {
  box-sizing: border-box;
  background: $backgroundColor;
}

.App {
  header {
    display: inline-block;
    width: 100%;
    background: white;
    .main-logo {
      background: white;
      img {
        width: 300px;
      }
    }
  }
}
