$backgroundColor: #1b1b1b;

html * {
  box-sizing: border-box;
  background: $backgroundColor;
}

.App {
  .main-logo {
    position: relative;
    width: 100%;
    background: white;
    img {
      width: 300px;
      margin: 0 20px;
    }
  }
}
